{% extends 'base.html' %}

{% block content %}

<form class="form-horizontal" method="post">{% csrf_token %}
    <fieldset>
        <legend>{{ titulo }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                        {% if field.required = True %}
                            <p class="help-inline"><small>dsfdfs</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        ------------------------------------------------------------
        {% for field in form3 %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                        {% if field.required = True %}
                            <p class="help-inline"><small>dsfdfs</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        ------------------------------------------------------------
        {% for field in form2 %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                        {% if field.required = True %}
                            <p class="help-inline"><small>dsfdfs</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>

    <ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
    <div class="form-actions"><br/>
        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
    </div>


</form>

{% if "Guardado" in informacion %}
    <script type="text/javascript">swal('Guardado!', 'El registro ha sido guardado satisfactoriamente', 'success');</script>
{% endif %}
{% if "Error" in informacion %}
    <script type="text/javascript">swal('Error!', 'Verifique que los campos se encuentren bien diligenciados', 'error');</script>
{% endif %}

{% endblock content %}

