{% extends 'base.html' %}

{% block content %}

<form class="form-horizontal" method="post">
    {% csrf_token %}
    <fieldset>
        <h2>{{ titulo }}</h2>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                        {% if field.required = True %}
                            <p class="help-inline"><small>dsfdfs</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <br>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
    </div>
</form>

{% if "Guardado" in informacion %}
    <script type="text/javascript">
    swal('Guardado!', 'El registro ha sido guardado satisfactoriamente', 'success');
    </script>
{% endif %}
{% if "Eliminado" in informacion %}
    <script type="text/javascript">
    swal('Eliminado!', 'El registro se ha borrado satisfactoriamente', 'sucess');
    </script>
{% endif %}
{% if "Error" in informacion %}
    <script type="text/javascript">
    swal('Error!', 'Verifique que los campos se encuentren bien diligenciados', 'error');
    </script>
{% endif %}
{% if "DateError" in informacion %}
    <script type="text/javascript">
    swal('Error!', 'Los formatos de fecha son inválidos, el formato correcto es "dd-mm-aaaa"', 'error');
    </script>
{% endif %}

{% endblock content %}

